:root {
  --primary-100: hsl(25, 97%, 53%);

  --neutral-100: hsl(0, 0%, 100%);
  --neutral-200: hsl(217, 12%, 63%);
  --neutral-300: hsl(216, 12%, 54%);
  --neutral-400: hsl(213, 19%, 18%);
  --neutral-401: hsla(216, 12%, 54%, 0.096);
  --neutral-500: hsl(216, 12%, 8%);

  --fw-400: 400;
  --fw-500: 700;

  --fs-title: 1.5rem;
  --fs-body: 0.9rem;
  --fs-icon: 0.6875rem;
}

/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* GLOBALS */
body {
  font-family: "Overpass", sans-serif;
  background-color: var(--neutral-500);
  color: var(--neutral-100);
}

button {
  font-family: inherit;
}

/* FRONT END MENTOR SPECIFIC */
.attribution {
  font-size: var(--fs-icon);
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* TYPOGRAPHY */
.card__title {
  font-size: var(--fs-title);
  font-weight: var(--fw-500);
}

.card__desc {
  color: var(--neutral-200);
  font-size: var(--fs-body);
  line-height: 1.6;
}

.rating-list__item {
  color: var(--neutral-300);
  font-weight: var(--fw-500);
}

.button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: var(--fs-body);
}

/* LAYOUT */
main {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

/* COMPONENTS */

.state {
  display: grid;
  align-content: center;
  justify-content: stretch;
  gap: 0.8em;
  height: 100%;
}
.card {
  background-image: linear-gradient(
    150deg,
    var(--neutral-400) 0%,
    var(--neutral-500) 145%
  );
  width: min(90%, 21em);
  min-height: 23.53125rem;
  margin-inline: auto;
  padding: 1.5em;
  border-radius: 1.2em;
}

.rating-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.rating-list__item {
  display: inline-block;
  width: 43px;
  aspect-ratio: 1;
  background-color: var(--neutral-401);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: var(--fs-body);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.rating-list__item:hover,
.rating-list__item:focus-visible {
  color: var(--neutral-100);
  background-color: var(--primary-100);
}

.decorative {
  display: inline-block;
  width: 40px;
  aspect-ratio: 1;
  background-color: var(--neutral-401);
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-bottom: 0.5em;
}

.decorative i {
  color: var(--primary-100);
  line-height: 1;
}

.button {
  display: inline-block;
  color: var(--neutral-100);
  background-color: var(--primary-100);
  border: unset;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-radius: 2em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.button:hover,
.button:focus-visible {
  background-color: var(--neutral-100);
  color: var(--primary-100);
}

.decorative-img {
  margin-inline: auto;
  margin-bottom: 0.8em;
  margin-top: 0.5em;
}

/* Modifiers */

.rating-list__item.selected {
  background-color: var(--neutral-300);
  color: var(--neutral-100);
}

.button:disabled {
  background-color: var(--neutral-401);
  color: var(--neutral-300);
  cursor: initial;
}

/* utilty */
.centered {
  text-align: center;
}

.margin-s {
  margin-bottom: 1em;
}

.accent {
  font-size: var(--fs-body);
  color: var(--primary-100);
  background-color: var(--neutral-401);
  justify-self: center;
  padding: 0.5em 0.9em;
  border-radius: 2em;
  margin-bottom: 1em;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

/* animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 378px) {
  :root {
    --fs-body: 0.9rem;
  }

  .card {
    width: min(90%, 23em);
    padding: 1.7rem;
  }
}
